<div id="fixed-msg" stle="display:block;">
  <div id="message-modal">
    <span id="V" style="display:block;">
      <%= link_to 'MSG', msg_path , remote: true, data: { toggle: "modal", target: "#MsgModal" }%>
    </span>
    <div id="new-alert" class="hidden">
    </div>
  </div>
</div>

<style>
  #fixed-msg {
    background-color:lightblue;height:50px;width:50px;border-radius:100%;position:fixed;bottom:5px;left:10px;z-index:1997;
  }
  #message-modal {
    cursor:pointer;position: fixed;background-color: white;width: 30px;height: 20px;border-radius: 0%;bottom: 20px;left: 20px;z-index:1998;
  }
  #V {
    height: 20px;width: 20px;position: absolute;left:10px;border: 1px solid #000000;border-top-width: 0px;border-left-width: 0px;transform: rotate(44deg);bottom: 6px;left: calc(50% - 10px);border-top-color: transparent;
    }
  #V a {
    background-color: transparent;
    min-width: 100%;
    min-height: 100%;
    color: transparent;
    padding-top: 27px;
    transform: rotate(88deg);
    text-decoration:none;
    outline: none;
    position: absolute;
  }
  #new-alert {
    position:fixed;background-color:purple;width:10px;height:10px;border-radius:100%;bottom:15px;left:15px;z-index:1999;
  }
</style>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="MsgModal">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-header">
       <button type="button" id="msg-x" class="close" style="color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
     <div class="modal-content">

     </div>
   </div>
   <div>
   </div>
 </div>
 <script>


 $(function() {
 var chatopen = document.getElementById('fixed-msg');
 var chatbox = document.getElementById('MsgModal');
// if modal == block hide chat button else show chat button
$('#MsgModal').on('show.bs.modal', function (e) {
  chatopen.style.display = 'none';
});
$('#MsgModal').on('hidden.bs.modal', function (e) {
  chatopen.style.display = 'block';
});
});
 </script>
