<div style="height:400px;" class="container-fluid">
<% if current_user %>
<script>
$(function(){
  var hiddenMsg = document.getElementById('conversations-list');
  $(".show-convo.panel").hide();
  $(".convo-button").click(function() {
    // Hides all images.
    $(".show-convo.panel").hide();
    // Shows appropriate one.
    var convoID = $(this).data("conversation-id"); // Fetches the value of the data-imageId attribute.
    $(".show-convo.panel[data-conversation-id="+convoID+"]").show();
    hiddenMsg.style.display = 'block';
 });
})();
</script>
<div style="left:0;position:absolute;top:0px;width:70%;height:70%;border:1px solid black;">
  <div style="position:absolute;top:0;width:100%;height:20px;border:solid 1px black;background-color:lightblue;" class="center-text">
    <strong> MSG - Center </strong>
  </div>


  <div class="msg-up" style="padding-top:20px;">
    <ul id="conversations-list" style="display:none;">

      <% @conversations.each do |conversation| %>
      <div id="conversations-msg">
        <% if @show_msg == true %>
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
      </div>
      <% end %>

    </ul>
  </div>
</div>

<div id="convo-list" style="overflow-x: hidden;top:0;position:absolute;width:30%;height:100%;border:solid 1px black;right:0;overflow-y:scroll;">
     <%= render 'newmsg' %>
</div>

<!-- chat -->
<div class="msg-center col-md-3 col-sm-4" style="">
      <!-- <span><i class="fa fa-angle-double-up fa-2x" id="expand-chat" style="position:absolute;top:5px;right:25px;" aria-hidden="true"></i></span>
      <span><i class="fa fa-angle-double-down fa-2x" id="hide-chat" style="display:none;position:absolute;top:7px;right:25px;" aria-hidden="true"></i></span> -->

    <div class="panel-body" style="width:100%" id="chat-list">
      <ul>
            <% @charge = Charge.where(:user_id => @user.id) %>
            <% @my_sales = Charge.where(:vendor_id => @user.id) %>
        <!-- links to VENODRS that user has purchased from. Need  -->
       <% user_names = [] %>
        <% @charge.each do |i| %>
          <% user_names << i.vendor %>
        <% end %>
        <!-- lnks to Users who have purchased from  -->
        <% @my_sales.each do |i| %>
         <% user_names << i.user %>
        <% end %>
<!-- if conversations user exists data_conversations_id -->
<!-- else conversations_id is blank nothing -->
        <% user_names.uniq.each do |i| %>
        <% @charge_convo = Conversation.where(:recipient_id => i.id).or(Conversation.where(:sender_id => i.id)) %>

            <div class="convo-button"data-conversation-id="<%= @charge_convo.first.id %>">
              <li><%= link_to i.name, conversations_path(user_id: i.id), remote: true, method: :post %></li>
            </div>

          <%end%>

      </ul>
    </div>
  </div>
</div>
<!-- chat -->
 <% else %>
login
 <% end %>
 </div>




 <script>
 // chatJS


 (function() {
   $(document).on('click', '.toggle-window', function(e) {
     e.preventDefault();
     var panel = $(this).parent().parent();
     var messages_list = panel.find('.messages-list');
     panel.find('.panel-body').toggle();
     panel.attr('class', 'panel panel-default');
     if (panel.find('.panel-body').is(':visible')) {
       var height = messages_list[0].scrollHeight;
       messages_list.scrollTop(height);
     }
   });
 })();


 </script>
