<div style="height:400px;" class="container-fluid">
<% if current_user %>

<div style="left:0;position:absolute;top:0px;width:70%;height:70%;border:1px solid black;">
  <div style="position:absolute;top:0;width:100%;height:20px;border:solid 1px black;background-color:lightblue;" class="center-text">
    <strong> MSG - Center </strong>
  </div>
  <div class="msg-up" style="padding-top:20px;">
    <ul id="conversations-list">
      <% if @conversation %>
      <% @conversations.each do |conversation| %>
      hi
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
        <% end %>

    </ul>
  </div>
</div>

<div id="convo-list" style="top:0;position:absolute;width:30%;height:100%;border:solid 1px black;right:0;">
  <%= render 'newmsg' %>
</div>

<!-- chat -->
<div class="msg-center col-md-3 col-sm-4 pull-right" style="max-height:30%;max-height:230px;min-width:70%;margin-left:-14px;">
  <div class="panel panel-primary">
    <div class="panel-heading" id="panel-title">
      <h3 class="panel-title">User list </h3>
      <!-- <span><i class="fa fa-angle-double-up fa-2x" id="expand-chat" style="position:absolute;top:5px;right:25px;" aria-hidden="true"></i></span>
      <span><i class="fa fa-angle-double-down fa-2x" id="hide-chat" style="display:none;position:absolute;top:7px;right:25px;" aria-hidden="true"></i></span> -->
     </div>
    <div class="panel-body" style="width:100%" id="chat-list">
      <ul>
       <% if current_user%>
            <% @charge = Charge.where(:user_id => @user.id) %>
            <% @my_sales = Charge.where(:vendor_id => @user.id) %>
        <!-- links to VENODRS that user has purchased from. Need  -->
       <% user_names = [] %>
        <% @charge.each do |i| %>
          <% user_names << i.vendor %>
        <% end %>
        <!-- lnks to Users who have purchased from  -->
        <% @my_sales.each do |i| %>
         <% user_names << i.user %>
        <% end %>
        <% user_names.uniq.each do |i| %>
        <% if i.company != nil %>
          <li class="convo-button"><%= link_to i.company, conversations_path(user_id: i), remote: true, method: :post %></li>
        <% else %>
          <li><%= link_to i.name, conversations_path(user_id: i), remote: true, method: :post %></li>
          <%end%>
        <%end%>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!-- chat -->


 <% else %>
login
 <% end %>
 </div>




 <script>
 // chatJS


 (function() {
   $(document).on('click', '.toggle-window', function(e) {
     e.preventDefault();
     var panel = $(this).parent().parent();
     var messages_list = panel.find('.messages-list');
     panel.find('.panel-body').toggle();
     panel.attr('class', 'panel panel-default');
     if (panel.find('.panel-body').is(':visible')) {
       var height = messages_list[0].scrollHeight;
       messages_list.scrollTop(height);
     }
   });
 })();
 $(".convo-button").click(function() {
   // Hides all images.
   $(".show-convo.panel").hide();
   // Shows appropriate one.
   var imageId = $(this).data("conversation-id"); // Fetches the value of the data-imageId attribute.
   $(".show-convo.panel[data-conversation-id="+imageId+"]").show();
});
 </script>
