<div style="position:absolute;top:0;width:100%;height:20px;border:solid 1px black;background-color:lightblue;" class="center-text">
  <strong> Msgs </strong>
</div>
<div style="position:relative;top:20px;">
  <!-- order by converation.msgs.last_updated at first -->
  <% if current_user.conversations.present? %>
    <% @convos = @user.conversations.all.pluck(:id) + Conversation.all.where(:recipient_id => @user.id).pluck(:id) %>
<% else %>
    <% @convos = Conversation.all.where(:recipient_id => @user.id).pluck(:id) %>
<% end %>
<% @convos = @convos.uniq %>
<% @convos = Conversation.where(:id => @convos) %>
<!-- grouping doesn't work on heroku  .group('messages.conversation_id')-->
 <% @convos = @convos.includes(:messages).order('messages.updated_at desc') %>


<% @convos = @convos.distinct%>

<% @convos.each do |convo| %>
<ul class="pull-left convo-button"data-conversation-id="<%=convo.id %>" style="margin-top:13px;margin-left:1px;min-width:100%;max-height:28px;">
<%   op_user = convo.opposed_user(@user)%>
  <% if op_user.name != current_user.name %>
  <%= link_to op_user.name, conversations_path(user_id: op_user.id), remote: true, method: :post %>:
  <%= convo.messages.last.body.truncate(15) %>
    <hr class="style14" style="margin-left:-1px;max-width:100%">
</ul>

  <% end %>
  <% end %>

</div>
