<div style="position:absolute;top:0;width:100%;height:20px;border:solid 1px black;background-color:lightblue;" class="center-text">
  <strong> Msgs </strong>
</div>
<div style="position:relative;top:20px;">
  <!-- order by converation.msgs.last_updated at first -->
  <% if current_user.conversations.present? %>
    <% @convos = @user.conversations.all.pluck(:id) + Conversation.all.where(:recipient_id => @user.id).pluck(:id) %>
<% else %>
    <% @convos = Conversation.all.where(:recipient_id => @user.id).pluck(:id) %>
<% end %>
<% @convos = @convos.uniq %>
<% @convos = Conversation.where(:id => @convos) %>
<!-- grouping doesn't work on heroku  .group('messages.conversation_id')-->

 <% @convos = @convos.joins(:messages).order("max(messages.updated_at) DESC").group("conversations.id").limit(l).offset(o)%>



<% @convos.each do |convo| %>
<div id="new-msgs-list">
<!-- get this to refresh after a message is received -->
    <%= render 'updatedMsg', convo: convo %>
</div>
<style>

</style>

  <% end %>

</div>
