<% content_for(:header) do %>
<% end %>

<h1> Map </h1>
<div id="map-container">
	<div id="map"></div>
</div>

<style>
#map-container {
	  padding: 6px;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #ccc #ccc #999 #ccc;
	  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
	//  width: 500px;
	}
	#map {
	//  width: 500px;
	    height: 500px;
	}
</style>
<script>
$(document).ready(function() {

  handler = Gmaps.build('Google');
  handler.buildMap({
  	provider: { mapTypeId: google.maps.MapTypeId.HYBRID },
  	internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  });
  alert("here")

});

</script>

<script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
