<% content_for(:header) do %>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<script>

$(document).ready(function() {

  handler = Gmaps.build('Google');
  handler.buildMap({
  	provider: { mapTypeId: google.maps.MapTypeId.HYBRID },
  	internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  });

});


</script>


<% end %>

<h1> Map </h1>
<div id="map-container">
	<div id="map"></div>
</div>

<style>
#map-container {
	  padding: 6px;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #ccc #ccc #999 #ccc;
	  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
	//  width: 500px;
	}
	#map {
	//  width: 500px;
	    height: 500px;
	}
</style>
