<h4 style="text-decoration:underline;" class="center-text"> Active Inventory </h4>
 <% if current_user.provider == nil %> (must <%= link_to 'connect', user_stripe_connect_omniauth_authorize_path %> to sell) </h4> <% end %>
   <% my_boards = Board.where(user_id: current_user.id, pending: nil || false, for_sale: true, pending: false) %>
   <% if my_boards %>
   <% my_boards.each do |i| %>
   <thead>
     <hr class="style13">

   <td>
   <%= link_to attachment_image_tag(i.images.first, :file, :fill, 100, 100), i, remote: true, data: {toggle: "modal", targe: "#newModal"} %>
   <br>
    $<%= i.price %><%= link_to i.title, i%>
    <% if i.for_sale == true && i.pending == false %>


      <strong style="color:red;">active</strong>
      <% else %>
      <strong style="color:red;">inactive</strong>
      <% end %>
  </td>
  </thead>
    <% end %>
<% end %>
