<!-- erase ? -->
<!-- <div class="msg-center col-md-3 col-sm-4 pull-right">
<h4 class="panel-notice" style="display:none;">New MSG </h4>
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>
</div> -->
