
    <h4 style="text-decoration:underline;" class="center-text"> My pending shipment (out for shipping) </h4>
   <% pending_boards = Board.where(user_id: current_user.id, pending: true).order('updated_at DESC') %>
   <% if pending_boards %>
     <% pending_boards.each do |i| %>
     <div style="min-height:100px;">
      <hr class="style13">
        <%= link_to attachment_image_tag(i.images.first, :file, :fill, 100, 100), i, remote: true, data: { toggle: "modal", target: "#newModal" } %>
      <br>
      <strong style="font-size:15px;text-decoration:none">Chat with
      <%= link_to i.user.name.capitalize , conversations_path(user_id: i.customer_id), remote: true, method: :post %>
      </strong>
      <strong>
        <%= link_to i.title, i %>
        <% if i.shipping == true %>
          <strong style="color:red;">ship it</strong>
          <% else %>
          <strong style="color:red;">pick up</strong>
          <% end %>
      </strong>
     </div>
      <% end%>
    <% end%>
    <!-- modal -->
