
<% if @board.images.count >= 1%>
<div class="swiper-container-images">
<div class="swiper-wrapper">
    <% @board.images.each_with_index do |photo, index| %>
            <div>
                <%= image_tag(attachment_url(photo, :file, :fill, 350, 350, format: 'jpg')) %>
                <span style="position: absolute;top: 356px;"><%= index + 1 %>/<%= @board.images.count %>  </span>
             </div>
    <% end %>
    <% end %>

     </div>
     <!-- Add Pagination -->
     <div class="swiper-button-next swiper-button-white"></div>
     <div class="swiper-button-prev swiper-button-white"></div>

     <div class="swiper-pagination"></div>
    </div>
    <script>
    $(document).ready(function(){

      var swiperImages = new Swiper('.swiper-container-images', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        nextButton: '.swiper-button-next',
         prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        freeMode: true
    });
    })

    </script>
