
<div class="center-text" style="min-width:350px;min-height:350px;">
  <div class="scroller">
  <% @board.images.each_with_index do |photo, index| %>

    <div class="slide-img">
    <%= link_to(image_tag(attachment_url(photo, :file, :fill, 350, 350, format: 'jpg')),
          attachment_url(photo, :file, :fit, 500, 500, format: 'jpg'),
          data: { lightbox: "example-set", title: "" }) %>
    </div>

  <% end %>
</div>

</div>
<style>
.slide-img img{
    left: calc(50% - 175px);
    position: relative;
}
  .slick-prev::before, .slick-next::before {
    color: #000;
  }

  .slick-next {
    font-size:15px;
    right: -5px;
    z-index: 400;
    border-radius:50%;
    border: solid black 1px;
  }

  .slick-prev {
    font-size:15px;
    left: -5px;
    z-index: 400;
  }
</style>
