
<div>
  <% @board.images.each do |photo| %>
    <%= link_to(image_tag(attachment_url(photo, :file, :fit, 100, 100, format: 'jpg')), attachment_url(photo, :file, :fit, 500, 500, format: 'jpg'), data: { lightbox: "example-set", title: "hi" }) %>
  <% end %>
</div>
