
<% if @board.images.count >= 1%>
<div class="swiper-container-images">
<div class="swiper-wrapper">
    <% @board.images.each_with_index do |photo, index| %>
            <div class="swiper-slide">
                <%= image_tag(attachment_url(photo, :file, :fill, 350, 350, format: 'jpg')) %>
             </div>
    <% end %>
    <% end %>

     </div>
     <!-- Add Pagination -->
     <div class="swiper-button-next swiper-button-white"></div>
     <div class="swiper-button-prev swiper-button-white"></div>

     <div class="swiper-pagination"></div>
    </div>

    <script>
      var swiperImages = new Swiper('.swiper-container-images', {
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          pagination: '.swiper-pagination',
          paginationType: 'progress'
      });
      </script>
    </script>
