
    <!-- Swiper -->
    <div class="siema">
    <% @board.images.each_with_index do |photo, index| %>
            <div>

                <%= link_to(image_tag(attachment_url(photo, :file, :fill, 350, 350, format: 'jpg')),
                  attachment_url(photo, :file, :fit, 500, 500, format: 'jpg'),
                  data: { lightbox: "example-set", title: "" }) %>
            </div>
    <% end %>
    </div>



    <!-- Initialize Swiper -->

    <script>
    const siemas = document.querySelectorAll('.siema');

    // Extend prototype with method that adds arrows to DOM
    // Style the arrows with CSS or JS — up to you mate
    Siema.prototype.addArrows = function() {

      // make buttons & append them inside Siema's container
      this.prevArrow = document.createElement('button');
      this.nextArrow = document.createElement('button');
      this.prevArrow.textContent = 'previous slide';
      this.nextArrow.textContent = 'next slide';
      this.selector.appendChild(this.prevArrow)
      this.selector.appendChild(this.nextArrow)

      // event handlers on buttons
      this.prevArrow.addEventListener('click', () => this.prev());
      this.nextArrow.addEventListener('click', () => this.next());
    }

    // this is fairly new way of looping through DOM Elements
    // More about ithere: https://pawelgrzybek.com/loop-through-a-collection-of-dom-elements/
    // For better compatibility I suggest using for loop
    for(const siema of siemas) {
      const instance = new Siema({
        selector: siema,
      });
      instance.addArrows();
    }

    </script>
