<strong>
  <h1>
  sales for <%= @sales_user %> wtf
   </h1>
</strong>

<%  @charges = Charge.where(:vendor_id  => current_user.id) %>
<% @charges.each do |i| %>
<strong> price </strong>
  <%= i.price %>
<% end %>
