
 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

body {
  background: snow;
}

h3 :hover {
  text-decoration: none;
  background-color: transparentize(gray, .9);
  font-weight: bolder;
}

.buttons:link {
  font-style:none;
  color: grey;
}

.btn-outline {
  position:absolute;
  right:15px;
  border:1px solid black;
  padding:0px 10px 0px 10px;
}

.center-text {
  text-align: center;
}

.well-styled {
box-shadow: 0px 3px 3px 1px #888;
border-radius: 10px;
background: #white;
padding-left: 12px;
border: none;
}
.well-styled img {
 border-radius: 20%;
}

.well img {
  border-radius: 20%;
  box-shadow: 1px 2px 10px black;
}

.title-ind a {
text-decoration:none;
color:black;
font-family:arial;
font-weight:700;
font-size:20px;
}

.well-title a {
  color: cyan;
}
.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.search-cat {
  background:darkgrey;
  box-shadow: 1px 4px 9px 4px #fff;
}
