/*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
 overflow-x: hidden;
margin: 0;
background: snow;
width: 100%;
height:100%;
 overflow-y: visible;
}
.modal {
  overflow-y:auto;
}

.container-fluid {
  -webkit-overflow-scrolling: touch;

}

.btn-group-vertical a{
  text-decoration: none;
  color:black;
}
#forsale {
  position: absolute;
  right: 2%;
  top: 0.5%;
}
//
// body {
//   background: snow;
//  width: 100%;
//
// }

ul {
 padding-left: 0px;
 list-style: none;
}

hr.style13 {
 border: 0;
 height: 2px;
 background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
hr.style14 {
 height: 10px;
border: 0;
box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

div.hidden { display: none; }

.facebook-btn {
  padding-top:10px;
}
.mobile-nav {
  display: none;
}

//
.navbar-inverse {
 max-height: 20px;
 min-width:100%;
 position:fixed;
 z-index: 999;
 left:0px;
 top:0px;
 padding-bottom:30px;
 border:none;
 border-radius: 0;
 background-color: #AD90D4;
 a {
   color:white;
   text-decoration: none;
 }
}


a.navbar-brand{
  color: white !important;
}

h3 :hover {
 text-decoration: none;
 color: grey;
}

.buttons:link {
 font-style:none;
 color: grey;
}

.center-text {
 text-align: center;
}
//
.btn-sort {
 color: black !important;
 background-color: #FFFFFF;
 text-decoration: none;
 border-color: #707070;
}

.btn-sort:hover,
.btn-sort:focus,
.btn-sort:active,
.btn-sort.active,
.open .dropdown-toggle.btn-sort {
 color: #ffffff;
 background-color: #fff;
 border-color: #707070;
 text-decoration: none;
}

.btn-sort:active,
.btn-sort.active,
.open .dropdown-toggle.btn-sort {
 background-image: none;
 text-decoration: none;
 color: #FFF;
}

.btn-sort.disabled,
.btn-sort[disabled],
fieldset[disabled] .btn-sort,
.btn-sort.disabled:hover,
.btn-sort[disabled]:hover,
fieldset[disabled] .btn-sort:hover,
.btn-sort.disabled:focus,
.btn-sort[disabled]:focus,
fieldset[disabled] .btn-sort:focus,
.btn-sort.disabled:active,
.btn-sort[disabled]:active,
fieldset[disabled] .btn-sort:active,
.btn-sort.disabled.active,
.btn-sort[disabled].active,
fieldset[disabled] .btn-sort.active {
 background-color: #FFFFFF;
 border-color: #707070;
}

.btn-sort .badge {
 color: #FFFFFF;
 background-color: #000000;
}

//newinverse
.btn-inverse {
  color: #ffffff !important;
  background-color: #AD90D4;
  text-decoration: none;
  border-color: none;
  position: absolute;
  top: 0;
  right: 0;
  min-height:48px;
  min-width:65px;
  border-radius:0;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #BBB9BD;
  border-color: #F0F0F0;
}

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #AD90D4;
  border-color: #F0F0F0;
}

.btn-inverse .badge {
  color: #AD90D4;
  background-color: #ffffff;
}
// oldinverse

.head-nav-btns {
 position: absolute;
 top: 0;
 right: 0;
}

//

.dash-data {
 position:absolute;
 top:180px;
 left:84px;
 display: block;
 width:69%;
}

.dash-nav-desktop {
  top:0px;
}
.dash-nav-desktop button{
height:50px;
background-color:#AD90D4;
color:white;
border-color:white;
}
.dash-nav-desktop button:hover,
.dash-nav-desktop button:focus,
.dash-nav-desktop button:active,
.dash-nav-desktop button.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #BBB9BD;
  border-color: #fff;
  text-decoration:none;
}
.dash-nav-mobile {
display: none;
}

.dash-data-title {
  text-decoration:underline;
  position:absolute;
  top: -70px;
  right: -30%;
}

// powered by google --delete
.pac-container:after {  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
   background-image: none !important;
   height: 0px;
}

.main-well-ul {
top:5px;
position:relative;
list-style-type:none;
text-align:right;
}

.tbody-search {
  min-width:300px;min-height:410px;padding-left:5%;
}

.description-li {
  min-width:242px;
}

.dropdown-menu button {
  width:100%;
}
.title-link a {
text-decoration:none;
color:black;
font-family:600;
font-weight:thin;
font-size:13px;
}

.make-li {
  font-size:20px;
}

.alert-alert {
 @extend .alert-warning;
}

.alert-notice {
 @extend .alert-info;
 max-width:180px;
}

.pagination a, .pagination span.current, .pagination span.gap {
   float: left;
   padding: 1px 8px;
   line-height: 38px;
   text-decoration: none;
   background-color: white;
   border: 1px solid #DDD;
   border-left-width: 1;
   border-left-color:black;
   border-color:black;
   color: darkgrey;
}

.pagination {
 margin-top:0px;
   border-left: 1px solid #ddd;
   background-color: white;
   a {
     color: black;
   }
   .first{
       padding : 0;
       float: none;
       border: none;

   }
   .prev {
       padding : 0;
       float: none;
       border: none;
   }
   .page{
       padding : 0;
       float: none;
       border: none;
   }
   .next{
       padding : 0;
       float: none;
       border: none;
   }
   .last{
       padding : 0;
       float: none;
       border: none;
   }
}
//
.messages-list {
 max-height: 150px;
 overflow-y: auto;
 overflow-x: hidden;
}
#conversations-list {
width: 100%;
margin-left:0px;
margin-right:0px;
}

.msg-center {
  width: calc(37% - 70px);
  bottom: 0px;
  right: -10px;
  position: fixed;
}
.message-sent {
 position: relative;
 background-color: #D9EDF7;
 border-color: #BCE8F1;
 margin: 5px 20px;
 padding: 10px;
 float: right;
}
.message-received {
 background-color: #F1F0F0;
 border-color: #EEEEEE;
 margin: 5px 20px;
 padding: 10px;
 float: left;
}
//
.filtering {
 padding-bottom:20px;
}

.title-bar{
 height:20px;
 background-color: rgba(230, 250, 250, 1);
 width:240px;
 position:absolute;
 top:-35px;
 left: calc(50% - 120px);
}

.length-ribbon {
 height:20px;
 background-color: rgba(230, 250, 250, 1);
 position:absolute;
 top: -235px;
 width:32%;
 right:1px;
}

.info-row {
 height:20px;
 background-color: rgba(230, 240, 250, .6);
 position:relative;
 width:100%;
 color:black;
}

.hidden {
 display:hidden;
}

.shows {
 display:inline;
}

.title {
 font-size:25px;
 font-weight:300;
 font-family: arial;
 padding-bottom:3px;
 padding-top:3px;
}
.dimensions {
  position:relative;

}


.image-box {
 min-height: 375px;
position:relative
}

.view_btn {
  padding:2px;
  margin-right:10px;
  margin-top:2px;
    a {
      width:100%;
      text-decoration: none;
      height:40px;
      font-size:15px;
      color:black;
      padding:0;
  }
}

.btn-next {
 border: 1px solid black;
 background-color:white;
 width:100px;
 height:35px;
}
.check-box-search {
 padding: 0 3px 0 5px;
}
.description {
 padding-right: 50px;
 min-height:200px;
 clear:all;
 position:relative;
 display:block;
 max-width:50%;
}

.description-modal {
 padding-right: 90px;
 min-height:250px;
 clear:none;
 position:relative;
 display:block;
 max-width:50%;
 padding-bottom:10px;
}

.payment {
  padding-top:20px;
  padding-bottom:70px;
}

.new_message .btn {
 width:100%;
}

.search-bar {
  position:fixed;
  top:10px;
  z-index:999;
  width:60%;
  left: 20%;
}

.rent-dates {
  position:relative;
  display:inline-block;
}

#events_calendar {
  position:relative;
  display:inline-block;
  min-width:100%;
}

#chat-list {
  max-height:150px;
  overflow-y: scroll;
  width:120%;
  display:none;
}

#top {
  display:block;position:relative;top:-50px;
}


.shop-search-form {
  margin-top:-17px;
}

.shop-info {
  height:110px;
  background-color:teal;
  table {
    color:black;
  }
}
.gel {
  min-height: 20px;
  padding: 0;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.panel-heading {
  cursor: pointer;
}
.dimensions-modal {
  min-height:150px;

  table
  {
    position:absolute;top:470px;
  }
}

// responsive
@media (max-width:990px) {
 .description-modal {
   padding-top: 50px;
   max-width:100% !important;
   padding-left:10%;
   padding-right:10%;
   margin-bottom:20px;
   padding-bottom:100px;
   min-height:100px;
 }

}

@media (max-width:995px) {
 .dash-nav-desktop {
   display: none;
 }
 .dash-nav-mobile {
   display: block;
   position:absolute;
   top:150px;
   width:100%;
 }

 .dash-data-title {
   top: -80px;
   right: 2%;
 }

 .dash-data {
   position:absolute;
   top:199px;
   left:15px;
   display: block;
   width:65%;
   width: 100% !important;
   left: 0 !important;
 }

 .msg-center {
   position:fixed;
   bottom:0px;
   width:75%;
   left:0px;
   max-height: 230px;
   font-size:8px;

 }
 .panel {
   margin-bottom:0px;
 }

 .bottom {
   padding-bottom:60px;
 }
 .panel-default {
   width:130%;
 }

 .messages-list {
   max-height:72px !important;
 }
 textarea.form-control {
      height: 35px !important;
 }
}
@media (max-width:770px) {
 .my-pages a {
   position:absolute;
   left:85px;
   top:-52px !important;
 }
 .cat-width {
   position:relative;
   top:-20px;
   left: calc(50% - 100px);
 }
 .length-ribbon {
   right: calc(50% - 120px);
   width: 59px;
 }
 .description {
   padding-top: 50px;
   max-width:100% !important;
   padding-left:10%;
   padding-right:10%;
 }

 .mobile-nav {
   display:block;
   top:0;
   right:0;
   position:absolute;
 }
 .head-nav-btns {
   display: none;
 }
}
// effective for width < 400px
@media (max-width: 400px) {
 .filtering .btn-outline {
   max-width: 70px;
 }
 .filtering .btn-outline a {
   font-size: 9px;
   font-weight:bold;
   text-align: center;
 }

 .btn-next {
   width: 150px;
 }

 .title {
   font-size: 14px;
   padding-top:2px;
   padding-bottom:13px;
 }
 .simple-calendar {
   .day {
     font-size:8px;
   }
 }
}

@media (max-width: 350px) {

  .search-width {
    left:140px !important;
    width:80px;
  }

}

@media (min-width:768px) {
 .cat-well{
   height:145px;
 }
 .types {
   position:absolute;
   right:20%;
   top:28%;
 }
 .payment {
   padding-top:90px;
   padding-bottom:40px;
 }
}

@media (min-width:409px) and (max-width: 415px) {
  .enter-width {
    max-width: 240px;
  }
  .search-width {
    left:230px !important;
    width:100px;
  }
}
