<% if @accessories_boards%>
<!-- add accessories price to board total -->
  <% @theTotal = 0 %>
<div class="" style="width:25%;">
  <span class="center-te"> includes </span>
  </div>
  <div class="max-height:150px;max-width:100%;">
   <%  @accessories_boards.each do |i| %>
   <div class="" style="max-height:150px;background-color:lightgrey;width:25%;float:right;">
     <td class="vendor-link" style="cursor:pointer;">
     <div class="center-text">
       <span id="acc-link"><%= link_to i.title, accessory_path(i), remote: true, data: { toggle: "modal", target: "#accModal" } %></span>
       <div class="accessoryImage1" id="aImage1">
         <%= link_to attachment_image_tag(i.images.first, :file, :fill, 80, 80), accessory_path(i), remote: true, data: { toggle: "modal", target: "#accModal" } %></td>
        </div>
        <div class="accessoryImage" id="aImage">
          <%= link_to attachment_image_tag(i.images.first, :file, :fill, 90, 90), accessory_path(i), remote: true, data: { toggle: "modal", target: "#accModal" } %></td>
         </div>
         <span class="center-text"><%= i.kind.name %></span><strong><br></span>
     </div>
</td>
</div>
</div>
  <% end %>
  <% else %>
  <% @theTotal = 0 %>
<% end %>
