
<% if @accessories_boards%>
<div class="" style="width:25%;">
  includes
  </div>
   <%  @accessories_boards.each do |i| %>
   <div class="" style="max-height: 150px;background-color:lightgrey;width:25%;">
        <td class="vendor-link" style="cursor:pointer;">
     <div class="center-text">
       <span id="acc-link"><%= link_to i.title, accessory_path(i), remote: true, data: { toggle: "modal", target: "#accModal" } %></span>
       <div class="accessoryImage" id="aImage" style="cursor:pointer">
         <%= attachment_image_tag(i.images.first, :file, :fill, 90, 90) %>
       </div>
       <div class="accessoryImage1" id="aImage1">
         <%= attachment_image_tag(i.images.first, :file, :fill, 80, 80) %>
       </div>
         <span class="center-text"><%= i.kind.name %></span><strong><br></span>
     </div>
</td>
</div>
  <% end %>
<% end %>
